
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">Accounting Section</li>
      <li>
        <a href="/accounting/dashboard">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/accounting/accounts">
          <i class="fa fa-cubes"></i> <span>Accounts</span>
        </a>
      </li>
      <li>
        <a href="/accounting/entries">
          <i class="fa fa-credit-card"></i> <span>Transactions</span>
        </a>
      </li>
      <li>
        <a href="/credits">
          <i class="fa fa-cart-plus"></i> <span>Credits</span>
        </a>
      </li>
      <li>
        <a href="/reports">
          <i class="fa fa-file-text-o"></i> <span>Reports</span>
        </a>
      </li>
      <li>
        <a href="/info">
          <i class="fa fa-info"></i> <span>Software Information</span>
        </a>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
