<ul class="sidebar-menu">
  <li class="header">MAIN NAVIGATION</li>
  <li>
    <a href="/products">
      <i class="fa fa-cubes"></i> <span>Products</span>
    </a>
  </li>
  <li>
    <a href="/orders">
      <i class="fa fa-cart-plus"></i> <span>Sales</span>
    </a>
  </li>
  <li>
    <a href="/credits">
      <i class="fa fa-cart-plus"></i> <span>Credits</span>
    </a>
  </li>
  <li>
    <a href="/reports">
      <i class="fa fa-file-text-o"></i> <span>Reports</span>
    </a>
  </li>
  <li>
    <a href="/info">
      <i class="fa fa-info"></i> <span>Software Information</span>
    </a>
  </li>
</ul>
