
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a href="/owner/dashboard">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/store/index">
          <i class="fa fa-home"></i> <span>Store</span>
        </a>
      </li>
      <li>
        <a href="/products">
          <i class="fa fa-cubes"></i> <span>Products</span>
        </a>
      </li>
      <li>
        <a href="/stocks">
          <i class="fa fa-server"></i> <span>Purchases</span>
        </a>
      </li>
      <li>
      <li>
        <a href="/orders">
          <i class="fa fa-cart-plus"></i> <span>Sales</span>
        </a>
      </li>
      <li>
        <a href="/credits">
          <i class="fa fa-minus text-danger"></i> <span>Credits</span>
        </a>
      </li>
      <li>
        <a href="/members">
          <i class="fa fa-users"></i> <span>Customers</span>
        </a>
      </li>
      <li>
        <a href="/refunds">
          <i class="fa fa-exclamation-triangle"></i> <span>Refunds</span>
        </a>
      </li>
      <li>

        <a href="/reports">
          <i class="fa fa-file-text-o"></i> <span>Reports</span>
        </a>
      </li>
      <li>
        <a href="/settings">
          <i class="fa fa-cog"></i> <span>Settings</span>
        </a>
      </li>
      <li>
        <a href="/birs">
          <i class="fa fa-building"></i> <span>BIR</span>
        </a>
      </li>
      <li>
        <li>
          <a href="/entries">
            <i class="fa fa-credit-card"></i> <span>Accounting</span>
          </a>
        </li>
        <li>
        <a href="/info">
          <i class="fa fa-info"></i> <span>Software Information</span>
        </a>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
