<ul class="sidebar-menu">
  <li class="header">MAIN NAVIGATION</li>
  <li>
    <a href="/store/index">
      <i class="fa fa-home"></i> <span>Store</span>
    </a>
  </li>
  <li>
    <a href="/orders">
      <i class="fa fa-cart-plus"></i> <span>Sales</span>
    </a>
  </li>
  <li>
    <a href="/credits">
      <i class="fa fa-circle-o"></i> <span>Credits</span>
    </a>
  </li>
  <li>
    <a href="/info">
      <i class="fa fa-info"></i> <span>Software Information</span>
    </a>
  </li>

</ul>
