<div id="entryModal" class="modal fade"></div>
<div class="row">
  <div class="col-md-12">
  	<div class="box box-solid">
    	<div class="box-body">
				<div class="col-md-4">
			  	<ul class="nav navbar-nav">
			      <li class="dropdown">
			        <button href="#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" aria-expanded="false">Show Activity <b class="caret"></b></button>
			        <ul class="dropdown-menu dropdown-menu-right">
			          <li><%=link_to 'This Day', scope_to_date_accounting_entries_path(:from_date => Time.zone.now.beginning_of_day, :to_date => Time.zone.now.end_of_day, format: 'pdf') %></li>
						    <li> <%=link_to 'This Week', scope_to_date_accounting_entries_path(from_date: Time.zone.now.beginning_of_week, to_date: Time.zone.now.end_of_week, format: 'pdf') %></li>
						    <li> <%=link_to 'This Month', scope_to_date_accounting_entries_path(from_date: Time.zone.now.beginning_of_month, to_date: Time.zone.now.end_of_month, format: 'pdf') %></li>
			        </ul>
			      </li>
			    </ul>
				</div>
				<div class="col-md-4">
			    <%=form_tag accounting_entries_path, method: :get do %>
			      <div class="input-group stylish-input-group">
			        <%=text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search Inventory...'%>
			        <span class="input-group-btn">
			          <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
			            <i class="fa fa-search"></i>
			          <% end %>
			        </span>
			      </div>
			    <% end %>
				</div>
				<div class="col-md-4">
					<span class="pull-right"><%=link_to "New Entry", new_accounting_entry_path, remote: true, class: "btn btn-primary" %> </span>
				</div>
			</div>
			<hr>
			<div class="row">
			  <div class="col-md-3">
			    <span class="pull-right title">Filter Date:</span>
			  </div>
			  <div class="col-md-9">
			    <%= form_tag({:action => 'index'}, {:method => :get})  do %>
			      <div class="row">
			        <div class="col-md-4">
			          <%= text_field_tag :from_date, @from_date, :class => 'datepicker form-control'%>
			        </div>
			        <div class="col-md-4">
			          <%= text_field_tag :to_date, @to_date, :class => 'form-control datepicker'%>
			        </div>
			        <div class="col-md-4">
			        	<button type="submit" class="btn btn-success active"> Go </button>
			          <%=link_to "PDF", accounting_entries_path(format: 'pdf', from_date: @from_date, to_date: @to_date), class: "btn btn-default active"%>
			        </div>
			      </div>
			    <% end %>
			  </div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-12">
				  <div class="card">
				    <div class="header">
				    </div>
						<div class="content">
							<div class="table table-responsive">
								<table class="table table-striped">
									<thead>
										<tr class="title">
			                <th> Date </th>
											<th> Description </th>
			                <th> Customer </th>
											<th> Employee </th>
											<th> Amount</th>
										</tr>
									</thead>
									<tbody class="entry-index">
										<%=render 'index' %>
									</tbody>
								</table>
								<div class="modal-footer">
				          <center><%= paginate @entries, :window => 1 %></center>
				        </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
