<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading bg-purple">
      <h4>Transactions </h4>
    </div>
    <div class="panel-body">
      <% if policy(Accounting::Entry.new).create? %>
      <%= link_to "New Entry", new_accounting_entry_path, remote: true, class: "btn btn-primary" %>
      <% end %>
    <div class="new-entry"></div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Amount</th>
          <td>&nbsp;</td>
        </tr>
      </thead>
      <tbody class="entry-index">
        <%= render "index" %>
      </tbody>
    </table>
  </div>
  <div id="entryModal" class="modal fade"></div>
</div>
