<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4> New Stock Details</h4>
      </div>
      <div class="panel-body">
        <%=simple_form_for [@product, @stock], html: {class: 'form-horizontal'}, wrapper: :horizontal_form, url: :product_stocks do |f| %>
        <%=f.error_notification %>
          <%=f.input :date, as: :string, label: 'Date Purchased', input_html: {class: "datepicker"} %>
          <%=f.input :expiry_date, as: :string, input_html: {class: "datepicker"} %>

          <span class="pull-right"><%= link_to "New Supplier?", new_supplier_path, remote: true %></span>
          <%=f.input :supplier_id, collection: Supplier.all.map{ |a| [a.business_name, a.id]}, input_html: { class: 'input-lg' } %>
          <%=f.input :serial_number %>
          <%=f.input :quantity, input_html: { oninput: 'calculateTotalPurchase()'}  %>
          <br>
          <h4 class="title">Purchase Details </h4>
          <hr>
          <%=f.input :unit_price, label: 'Unit Price', input_html: { oninput: 'calculateTotalPurchase()'}  %>
          <%=f.input :purchase_price, label: 'Total Price', readonly: true %>
          <br>

          <h4 class="title">Payment Type</h4>
          <hr>
          <div class="row">
            <div class="col-md-6 col-md-offset-5">
              <%=f.input :payment_type, collection: Stock.payment_types.keys.to_a.map { |s| [s.titleize, s] }, as: :radio_buttons, label: false %>
            </div>
          </div>
          <div class="modal-footer">
            <%=f.submit "Save Stock", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="product-modal" class="modal fade"></div>
<div id="supplier-modal" class="modal fade"></div>
<script>
  $(document).ready(function() {
    $("#stock_product_id").select2({
      theme: "bootstrap"
    });
    $("#stock_supplier_id").select2({
      theme: "bootstrap"
    });
  });
</script>
