<div class="modal-header">
  <h3 class="title">New Account</h3>
</div>
<div class="modal-dialog">
  <div class="modal-content">
    <%= simple_form_for  @account, remote: true, html: { style: "display:inline;" } do |f| %>
      <div class="modal-body">
        <ul class="errors text-danger">
        </ul>

        <div class="form-group">
          <%=f.input :name %>
        </div>
        <div class="form-group">
          <%=f.input :code %>
        </div>
        <%=f.input :definition, as: :text %>
        <div class="form-group">
          <%=f.input :type, collection: ["Accounting::Asset", "Accounting::Liability", "Accounting::Equity", "Accounting::Expense", "Accounting::Revenue"], as: :radio_buttons %>
        </div>
        <%=f.input :contra %>
      </div>
      <div class="modal-footer">
        <%= f.submit class: "btn btn-primary" %>
        <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
    <% end %>
  </div>
</div>
