<tr>
  <td><%=stock.date.strftime('%B %e, %Y')%></td>
  <td><%=stock.quantity %></td>
  <td><%=stock.serial_number %></td>
  <td><%=number_to_currency stock.purchase_price %></td>
  <td><%=stock.in_stock %></td>
  <td><%=stock.sold %></td>
  <td><%= link_to 'Delete', stock, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-warning pull-right' %></td>
</tr>
