<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-3">
          <h4 class="box-title">Stocks</h4>
        </div>
          <div class="col-md-6">
            <%=form_tag stocks_path, method: :get do %>
              <div class="input-group stylish-input-group">
                <%=text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Search...'%>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-3">
            <span class="pull-right"> <%=link_to "New Stock", new_stock_path, class: "btn btn-primary" %></span>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="table table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date </th>
                <th> Product </th>
                <th><span class='pull-right'> Quantity</span> </th>
                <th><span class="pull-right"> Unit Cost </span></th>
                <th><span class='pull-right'> Total Cost </span></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @stocks.each do |stock| %>
                <tr>
                  <td><%= stock.date.strftime('%B %e, %Y') %></td>
                  <td><%= link_to stock.product.name, stock %></td>
                  <td><span class='pull-right'> <%= stock.quantity.round %></span></td>
                  <td><span class='pull-right'> <%= number_to_currency stock.unit_price %></span></td>
                  <td><span class="pull-right"> <%= number_to_currency stock.purchase_price %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
