<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4> User Details </h4>
    </div>
    <div class="panel-body">
      <div class="col-md-4">
        Info
      </div>
      <div class="col-md-6 col-md-offset-1">
        <p><i class="fa fa-list-alt"></i> &nbsp; Activities </p>
        <hr>
      </div>
    </div>
  </div>
</div>
