<div class="col-md-4">
  <div class="card card-user">
    <div class="header">
      <h4 class="title"> Category Settings
        <span class="pull-right">
          <%=link_to 'New', new_category_path, class: 'btn btn-primary btn-sm active' %>
        </span>
      </h4>
    </div>
    <div class="content">
    </div>
  </div>
</div>
