<div class="row">
  <div class="col-md-6">
    <div class="box box-info">
      <div class="box-header with-border">
        <h4>Category Settings
          <span class="pull-right">
            <%=link_to 'New', new_category_path, class: 'btn btn-primary active', remote: true %>
          </span>
        </h4>
      </div>
      <div class="box-body">
        <table class="table table-hover">
          <%= render @categories %>
        </table>
      </div>
    </div>
    <div class="box box-warning">
      <div class="box-header with-border">
        <h4> Employees <span class="badge"><%=Employee.count %> </span>
          <span class="pull-right">
            <%=link_to new_employee_path do %>
              <span class="btn btn-primary"><i class="fa fa-user-plus"></i> New </span>
            <% end %>
          </span>
        </h4>
      </div>
      <div class="box-body">
        <% Employee.all.each do |user| %>
          <div class="row">
            <div class="col-md-3">
              <%=image_tag(user.profile_photo.url(:thumb), height: 40, width: 40, class: 'img-circle') %>
            </div>
            <div class="col-md-4">
              <%=user.full_name %>
            </div>
            <div class="col-md-3">
              <%=user.role %>
            </div>
          </div>
          <br>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box box-success">
      <div class="box-header with-border">
        <h4>Business Settings
          <span class="pull-right">
            <%=link_to 'Update', edit_business_path(Business.last), class: 'btn btn-primary' %>
          </span>
        </h4>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-4">
            Business Name
          </div>
          <div class="col-md-8">
            <%=Business.last.try(:name) %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            TIN
          </div>
          <div class="col-md-8">
            <%=Business.last.try(:tin) %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            Proprietor
          </div>
          <div class="col-md-8">
            <%=Business.last.try(:proprietor) %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            VAT Registered
          </div>
          <div class="col-md-8">
            <%=Business.last.try(:vat) %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            Address
          </div>
          <div class="col-md-8">
            <%=Business.last.try(:address) %>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box box-danger">
      <div class="box-header with-border">
        <div class="row">
          <div class="col-md-6">
            <h4 class="panel-title">Warranty</h4>
          </div>
          <div class="col-md-6">
            <%=link_to 'Set', new_warranty_path, class: 'btn btn-warning pull-right' %>
          </div>
        </div>
      </div>
      <div class="box-body">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box box-warning">
      <div class="box-header with-border">
        <div class="row">
          <div class="col-md-6">
            <h4 class="panel-title">Taxes</h4>
          </div>
          <div class="col-md-6">
            <%=link_to 'New Tax', new_tax_path, class: 'btn btn-danger pull-right' %>
          </div>
        </div>
      </div>
      <div class="box-body">
      </div>
    </div>
  </div>
</div>
<div id="category-modal" class="modal fade"></div>