<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
        <h4 class="title"> Sales </h4>
      </div>
      <div class="box-body">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#retail" aria-controls="retail" role="tab" data-toggle="tab">Retail</a></li>
          <li role="presentation"><a href="#wholesale" aria-controls="wholesale" role="tab" data-toggle="tab">Wholesale</a></li>
        </ul>
        <div class="tab-content">
          <%=render 'retail' %>
          <%=render 'wholesale' %>
        </div>
      </div>
  </div>
</div>
