<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Order Details <span class="pull-right"><small><i class="fa fa-clock-o"></i> <%=@order.date.strftime("%A, %B %e, %Y %H:%m %p") %></small></span> </h4>
      </div>
      <div class="content">
        <b> Invoice No. <%=@order.invoice_number.try(:number) %></b>
        <span class="pull-right">
          <%=link_to 'Print Invoice', print_invoice_order_path(@order, format: 'pdf'), class: 'btn btn-primary' %>
        </span>
        <hr>
        <h4 class="panel-title"><b>Customer</b></h4>
        <br>
        <table class="table">
          <tr>
            <td width="150px"><b>Name: </b></td>
            <td><%=@order.member.try(:full_name) || 'Guest'%></td>
          </tr>
          <tr>
            <td width="150px"><b>Address: </b></td>
            <td><%=@order.member.try(:address) || 'N/A' %></td>
          </tr>
          <tr>
            <td width="150px"><b>Mobile Number:</b></td>
            <td><%=@order.member.try(:mobile_number) || 'N/A' %></td>
          </tr>
        </table>
        <hr>
        <h4><b>Items </b></h4>
        <br>
        <table class="table table-hover">
          <%@order.line_items.each do |line_item| %>
            <tr>
              <td><%=line_item.stock.name%></td>
              <td><%=line_item.quantity %></td>
              <td class="text-right">
                <% if line_item.retail? %>
                  <%=number_to_currency line_item.stock.retail_price %>
                <% else %>
                  <%=number_to_currency line_item.stock.wholesale_price %>
                <% end %>
              </td>
              <td class="text-right">
                <% if line_item.retail? %>
                  <%=number_to_currency line_item.total_price %>
                <% else %>
                  <%=number_to_currency line_item.total_whole_sale_price %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
        <ul class="list-unstyled team-members">
          <li class="text-right">
            <span class="text-muted">
              <b>Discount:</b>
              <%= number_to_currency @order.discount.amount %>
            </span>
            <br>
            <br>
            <b>Total Amount: </b>
            <% if @order.line_items.last.retail? %>
              <%=number_to_currency @order.total_amount_less_discount %>
            <% else %>
              <%=number_to_currency @order.line_items.total_whole_sale_price %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
