<div class="container">
  <div class="col-md-6">
  <div class="card">
    <div class="header">
      <h4 class="title">Order Details </h4>
      <hr>
    </div>
    <div class="content">
        <%=render @order.line_items %>
        <div class="modal-footer">
          <b>Paid Amount: </b> <%=number_to_currency @order.line_items.total_price %>
        </div>
      </div>
    </div>
</div>
</div>
