<div id="member-modal" class="modal fade"></div>
<% if @cart.line_items.blank? %>
<center><%=image_tag('empty_cart.png', height: 150, width: 150) %></center>
<% else %>
  <div class="col-md-12">
    <h4> <i class="fa fa-cart-plus fa-2x"></i> <span class='badge badge-notify'><%=@cart.line_items.count %></span>
      <span class="pull-right">
        <%= link_to 'Empty Cart', @cart, method: :delete, confirm: 'Are you sure?', class: "btn btn-danger btn-xs" %>
      </span>
    </h4>
    <br>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <%=render @cart.line_items.sort_by{|l| l.stock_name } %>
    </div>
    <div class="col-md-12">
      <div class="pull-left">
        <h3 class="title"> <b>Sub Total</b> </h3>
      </div>
      <div class="pull-right">
        <h3 class="title"> <b><%=number_to_currency @cart.total_price %></b></h3>
      </div>
    </div>
  </div>

<hr>

  <%=simple_form_for @order do |f| %>
    <span><label>Customer</label> <span class="pull-right"><%= link_to 'New Customer', new_member_path, remote: true %></span></span>
    <%=f.input :user_id, label: false, collection: Member.all.map{|a| [a.full_name, a.id] } || 'Guest', input_html: {id: 'order_user_id'} %>
    <input type="hidden" name="total" id="total" value="<%= @cart.total_price %>" oninput="calculateChange()">
    <%=f.input :pay_type, collection: Order.pay_types.keys.to_a.map{|a| [a.titleize, a]}, default: Order.pay_types.first%>
    <%=f.input :date, as: :string, input_html: {class: 'datepicker'}, default: Time.zone.now %>
    <div id='cash_payment_details'>
      <%=f.input :discounted, as: :boolean, input_html: { id: 'order_discount'} %>
      <div id="discount_details" style="display:none;">
        <%=f.simple_fields_for :discount do |ff| %>
          <div class="form-group has-warning">
           <%= ff.input :amount, input_html: {oninput: 'calculateChange()', class: 'input-lg text-danger', value: 0}, label: "Discount Amount" %>
          </div>
        <% end %>
      </div>
      <%=f.input :cash_tendered, input_html: {oninput: 'calculateChange()', class: 'input-lg'}, label: "Cash / Check Amount" %>
      <%=f.input :change, input_html: { class: 'input-lg'}, readonly: true %>
    </div>

    <%=f.submit "Checkout", class: 'btn btn-success btn-block btn-lg' %>
    <br>
  <% end %>
</div>
</div>
</div>
  <% end %>
<script>
  $(document).ready(function() {
    $("#order_user_id").select2({
      theme: "bootstrap"
    });
  });
</script>
<script>
  $(document).ready(function() {
    $("#order_pay_type").select2({
      theme: "bootstrap"
    });
    $("#order_delivery_type").select2({
      theme: "bootstrap"
    });
  });
</script>
<script>
  var checkbox = document.getElementById('order_discount');
  var details_div = document.getElementById('discount_details');
  checkbox.onchange = function() {
     if(this.checked) {
       details_div.style['display'] = 'block';
     } else {
       details_div.style['display'] = 'none';
     }
  };
</script>
