<div class="col-md-12">
  <div class="card">
      <div class="header">
          <h4 class="title">Orders
            <span class="pull-right"> <%#=link_to "New Contractor", new_contractor_path, class: "btn btn-primary" %></span>
          </h4>
          <hr>
      </div>
      <div class="content">
        <div class="table table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date </th>
                <th> Name </th>
                <th> Amount </th>
              </tr>
            </thead>
            <tbody>
              <% @orders.order(:date).reverse.each do |order| %>
                <tr>
                  <td><%= order.date.strftime('%B %e, %Y') %></td>
                  <td><%= link_to order.member.try(:full_name) || 'Guest', order %></td>
                  <td> <%= number_to_currency order.line_items.total_price %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
</div>
</div>
        </div>
</div>
