<div class="tab-pane" id='inactive-accounts'>

      <div class="new-entry"></div>
      <div class="content">
      <table class="table table-hover">
        <thead>
          <tr class="title">
            <th>Code</th>
            <th>Name</th>
            <th>Type</th>
            <th> Debits Balance </th>
            <th> Credits Balance </th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody class="entry-index">
          <%= render "accounting/accounts/index",  :accounts => @inactive_accounts %>
        </tbody>
      </table>
    </div>
    <div id="account-modal" class="modal fade"></div>
  </div>
