<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
        <h4 class="title"> General Ledger</h4>
      </div>
      <div class="box-body">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#active-accounts" aria-controls="active-accounts" role="tab" data-toggle="tab">Active Accounts</a></li>
          <li role="presentation"><a href="#inactive-accounts" aria-controls="inactive-accounts" role="tab" data-toggle="tab">Inactive Accounts</a></li>
        </ul>
        <div class="tab-content">
          <%=render 'active_accounts' %>
          <%=render 'inactive_accounts' %>
        </div>
      </div>
  </div>
</div>
