<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header with-border">
        <div class="row">
          <div class="col-md-4">
            <h4 class="title"> General Ledger</h4>
          </div>
          <div class="col-md-4">
            <%=form_tag accounting_index_path, method: :get do %>
              <div class="input-group stylish-input-group">
                <%=text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Search Account...'%>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
      <div class="box-body">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#active-accounts" aria-controls="active-accounts" role="tab" data-toggle="tab">Active Accounts</a></li>
          <li role="presentation"><a href="#inactive-accounts" aria-controls="inactive-accounts" role="tab" data-toggle="tab">Inactive Accounts</a></li>
        </ul>
        <div class="tab-content">
          <%=render 'active_accounts' %>
          <%=render 'inactive_accounts' %>
        </div>
      </div>
  </div>
</div>
