<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
        <h4 class="title"> Accounting Section </h4>
      </div>
      <div class="box-body">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#general-ledger" aria-controls="general-ledger" role="tab" data-toggle="tab">General Ledger</a></li>
          <li role="presentation"><a href="#income-statement" aria-controls="income-statement" role="tab" data-toggle="tab">Income Statement</a></li>
          <li role="presentation"><a href="#balance-sheet" aria-controls="balance-sheet" role="tab" data-toggle="tab">Balance Sheet</a></li>
        </ul>
        <div class="tab-content">
          <%=render 'general_ledger' %>
          <%=render 'income_statement' %>
          <%=render 'balance_sheet' %>

        </div>
      </div>
  </div>
</div>
