@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "admin";
@import "bootstrap-datepicker3";
@import 'select2';
@import 'select2-bootstrap';
@import "bootstrap_overrides";
@import 'skin';
