<div class="tab-pane" id='cash-sales'>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th> Customer </th>
        <th>QTY </th>
        <th> S/N </th>
        <th> Cost </th>
      </tr>
    </thead>
    <tbody>
      <% @product.line_items.cash.each do |l| %>
        <tr>
          <td><%=l.order.date.strftime("%B %e, %Y") %></td>
          <td><%=link_to l.order.try(:member), member_path(l.order.member) %></td>
          <td><%=l.quantity %></td>
          <td><%=l.stock.serial_number %></td>
          <td><%=number_to_currency l.stock.unit_price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
