<div class="tab-pane active" id="stocks">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>QTY </th>
                <th> S/N </th>
                <th> Cost </th>
                <th> In Stock </th>
                <th> Sold </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%=render @product.stocks %>
            </tbody>
          </table>

</div>
