
<div id="product-modal" class="modal fade"></div>
<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
        <div class="row">
          <div class="col-md-3">
            <h4 class="title"> Products </h4>
          </div>
          <div class="col-md-6">
            <%=form_tag products_path, method: :get do %>
              <div class="input-group stylish-input-group">
                <%=text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Search Products...'%>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-3">
            <span class='pull-right'><%=link_to 'New Product', new_product_path, remote: true, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <hr>
      <div class="box-body">
        <div class="table-responsive table-full-width">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th></th>
                <th><span class='pull-right'>In Stock</span></th>
                <th><span class="pull-right"> Sold </span></th>
                <th> <span class="pull-right"> Deliveries </span> </th>
              </tr>
            </thead>
            <tbody>
              <% @products.each do |product| %>
                <tr class="<%="text-danger" if product.out_of_stock?%>">
                  <td><%=link_to product.name.try(:upcase), product %></td>
                  <td><%=product.stock_alert %></td>

                  </td>
                  <td><span class='pull-right'><%=product.in_stock%></span></td>
                  <td><span class="pull-right"><%=product.sold %></span></td>
                  <td><span class='pull-right'><%= product.quantity %></span></td>
                  <td><span class='pull-right'><%=link_to "New Stock", new_product_stock_path(product), class: "btn btn-primary btn-sm active" %></span></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
