<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%=@product.name %>
      <div class="pull-right">
        <%=link_to "Edit", edit_product_path(@product), class: "btn btn-warning" %>
        <%=link_to "New Stock", new_product_stock_path(@product), class: "btn btn-primary" %>
      </div>
      </h4>
      <hr />
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-4">
          <h4 class="title"><center><%=@product.orders.count %></center></h4>
          <center> Ordered </center>
        </div>
      </div>
    </div>
  </div>
</div>
