<div class="row">
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><%=@product.name %>
      <div class="pull-right">
        <%=link_to "Edit", edit_product_path(@product), class: "btn btn-warning" %>
        <%=link_to "New Stock", new_product_stock_path(@product), class: "btn btn-primary" %>
      </div>
      </h4>
      <hr />
    </div>
    <div class="panel-body">
      <h4>Stocks </h4>
      <div class="table table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>QTY </th>
              <th> S/N </th>
              <th> Amount </th>
              <th> In Stock </th>
              <th> Sold </th>
            </tr>
          </thead>
          <tbody>
            <%=render @product.stocks %>
          </tbody>
        </table>


    </div>
  </div>
</div>
</div>
