<div class="tab-pane active" id="stocks">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>QTY </th>
                <th> S/N </th>
                <th> Cost </th>
              </tr>
            </thead>
            <tbody>
              <% @supplier.stocks.cash.each do |stock| %>
                <tr>
                  <td><%= stock.date.strftime('%B %e, %Y') %></td>
                  <td><%= stock.date %></td>
                  <td><%= stock.product.name %></td>
                  <td><%= stock.quantity %></td>
                  <td><%= stock.purchase_price %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

</div>
