<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="box box-warning">
      <div class="box-header with-border">
        <h4>Suppliers
          <span class="pull-right">
            <%=link_to 'New', new_supplier_path, class: 'btn btn-primary active', remote: true %>
          </span>
        </h4>
      </div>
      <div class="box-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Business Name</th>
              <th>Owner</th>
              <th>Address</th>
              <th>Mobile Number</th>
            </tr>
          </thead>
          <tbody>
            <% @suppliers.each do |supplier| %>
              <tr>
                <td><%= link_to supplier.business_name, supplier %></td>
                <td><%= supplier.owner %></td>
                <td><%= supplier.address %></td>
                <td><%= supplier.mobile_number %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="supplier-modal" class="modal fade"></div>