<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-6">
            <h4 class="panel-title">
              <br>
              <%=@supplier.business_name.try(:upcase) %><br /><br>
              <a href="#"><small><i class='fa fa-user'></i> &nbsp; <%=@supplier.owner %></small>
              &nbsp; &nbsp; <small><i class='fa fa-map-marker'></i> &nbsp; <%=@supplier.address %></small>
               &nbsp; &nbsp; <small><i class='fa fa-phone'></i> &nbsp; <%=@supplier.mobile_number %></small>
              </a>
            </h4>
          </div>
          <div class="col-md-6">
            <span class='pull-right'><%=link_to 'Edit', edit_supplier_path(@supplier), class: 'btn btn-danger', remote: true %>
          </div>
        </div>
      </div>
      <div class="panel-body">
      <div class="nav-tabs-navigation">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li class="active">
            <a href="#stocks" data-toggle="tab">
              <span class="tab-caption"> Stocks (Cash)</span>
            </a>
          </li>
          <li>
            <a href="#stocks-credit" data-toggle="tab">
              <span class="tab-caption"> Stocks (Credit)</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="content">
        <div id="my-tab-content" class="tab-content">
          <%=render 'stocks' %>
          <%=render 'stocks_credit' %>

        </div>
      </div>
    </div>
  </div>
</span>
<div id="supplier-modal" class="modal fade"></div>