<div class="col-md-12">
  <div class="card">
    <div class="header">
      <h4 class="title">Reports </h4>
    </div>
    <div class="content">
      <h4 class="title"> Daily Sales Report </h4>
      <p class="category"> Generate daily sales report for today. </p>
