<section class="content-header">
  <h1>
  <%=Business.last.try(:name) %><br>
   <small><%=Business.last.try(:address) %></small>
     </h1>
  <ol class="breadcrumb">
    <li class="active">ITWORX POS Software - by ITWORX Technology Services</li>
  </ol>
</section>
<br>
<div class="row">
  <div class="col-md-7">
    <div class="box box-default">
      <div class="panel-heading">
      </div>
      <div class="box-body">
        <div class="col-md-12">
          <% if params[:name].present? %>
            <%=form_tag store_index_path, method: :get do %>
              <div class="input-group stylish-input-group">
                <%=text_field_tag :name, params[:name], class: 'form-control input-lg', placeholder: 'Search Product...' %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', class: "btn btn-flat btn-lg") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          <% else %>
            <%=form_tag store_index_path, method: :get do %>
              <div class="input-group stylish-input-group">
                <%=text_field_tag :name, params[:name], autofocus: true, class: 'form-control input-lg', placeholder: 'Search Inventory...' %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', class: "btn btn-flat btn-lg") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          <% end %>
        </div>
        <hr>
        <br>
        <% if params[:name].present? && @stocks.count > 0 %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>In Stock </th>
                <th>Product</th>
                <th>Price </th>
                <th>Quantity </th>
                <th></th>
              </tr>
            </thead>
            <% @stocks.each do |stock| %>
              <tbody>
                <tr>
                  <td><%=number_to_currency(stock.in_stock.round, unit: "")%></td>
                  <td><%=stock.name.truncate(20) %></td>
                  <td><%=number_to_currency stock.product.retail_price %></td>
                  <%=simple_form_for @line_item, url: :line_items do |f| %>
                    <td class="col-md-3">
                      <% if stock.out_of_stock? %>
                        <%=f.input :quantity, readonly: true, label: false %>
                      <% else %>
                        <%=f.input :quantity,  input_html: {value: 1}, autofocus: true, label: false %>
                      <% end %>

                      <%=f.input :stock_id, input_html: {value: stock.id }, as: :hidden %>
                      <%=f.input :unit_cost, input_html: { value: stock.retail_price}, as: :hidden %>
                    </td>
                    <td>
                      <% if  stock.out_of_stock? %>
                        <span class="text-danger btn"> Out of Stock </span>
                      <% else %>
                        <%=f.submit "Add", data: {disable_with: "Adding Product..."}, class: "btn btn-primary btn-sm active" %>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              </tbody>
            <% end %>
          </table>
        <% elsif @stocks.count.zero? %>
          <p class="alert alert-info"> Product not found.<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> </p>
        <% end %>
      </div>
    </div>
  </div>
    <div class="col-md-5" id="cart">
      <div class="box box-solid">
        <div class="box-body">
      <%=render @cart %>
    </div>
  </div>
</div>
