<div class="row">
  <div class="col-md-8">
<% @products.each do |product| %>
<div class="col-md-4">
  <div class="card">
    <div class="content">
      <h4 class="title"><%=product.name %></h4>
      <%=number_to_currency product.price %>
      <div class="modal-footer">
      <%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true, class: "btn btn-success btn-block" %>
    </div>
    </div>
  </div>
</div>
<% end %>
</div>

<div class="col-md-4" id="cart">
<%=render @cart %>
</div>

</div>
