<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4> <center>Software Information</center> </h4>
    </div>
    <div class="panel-body">
      <p><b> ITWORX POS Software </b></p>

      Designed and Developed By ITWORX Technology Services. Please Contact us at vc.halip@gmail.com
      or mobile 0927-4173-271.
      <br>
      For additional features, please upgrade your Subscription/ Software to Premiun which oofers:
      Accept Credit Card Payment
      Loyalty Cards

      <hr>
      BIR Accreditation Number :92342348293424
      <hr>
      DTI Registration Number :235345353
      <hr>
      TIN 4353534535
      <br>
      <BR>
      <hr>
      <center> ITWORX TECHNOLOGY SERVICES </center>
      <center> <small>Progress through Technology </small></center>
    </div>
  </div>
</div>
