<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 0.0.1
  </div>
  <strong>Copyright &copy; <%=Time.zone.now.year %>  <a href="#">Itworx Technology Services</a>.</strong> All rights
  reserved.
</footer>
