<div class="tab-pane" id="cash-transaction">
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <span class='pull-right'>
        <%=link_to scope_to_date_member_line_items_path(@member, :from_date => Time.zone.now.beginning_of_year, :to_date => Time.zone.now.end_of_year, format: 'pdf')  do %>
          <btn class="btn btn-info"><i class="fa fa-print"></i> View Report </btn>
        <% end %>
      </span>
    </div>
  </div>
  <div class="table table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th> Date </th>
          <th> Item </th>
          <th> Qty </th>
          <th> <span class='pull-right'> Unit Cost </span> </th>
          <th> <span class="pull-right"> Discount </span> </th>
          <th> <span class="pull-right"> Total Cost </span> </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @member.line_items.cash.each do |line_item| %>
        <tr>
          <td><%=line_item.created_at.strftime("%B %e, %Y") %></td>
          <td><%=line_item.stock.try(:name) %></td>
          <td><%=line_item.quantity %></td>
          <td> <span class='pull-right'><%=number_to_currency line_item.unit_cost %></span></td>
          <td> <span class='pull-right'><%=number_to_currency line_item.order.discount.amount %></span></td>
          <td><span class='pull-right'><%= number_to_currency line_item.total_cost - line_item.order.discount.amount %></span></td>
          <td>
          <td>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
