<div class="tab-pane" id='credit-transaction'>
  <div class="row">
    <div class="col-md-3">
      <h4 class="title"><center class="text-muted"><%=number_to_currency @member.total_credit %></center></h4>
        <center> CREDITS </center>
    </div>
    <div class="col-md-3">
      <h4 class="title"><center class="text-muted"><%=number_to_currency @member.total_payment %></center></h4>
      <center> PAYMENTS </center>
      </h4>
    </div>
    <div class="col-md-2">
      <h4 class="title"> <center class="text-muted"><%=number_to_currency @member.total_remaining_balance %></center></h4>
        <center> BALANCE </center>
      </h4>
    </div>
    <div class="col-md-4">
      <% if @member.has_credit? %>
        <span class='pull-right'><%=link_to 'New Payment', new_member_payment_path(@member), class: 'btn btn-danger' %></span>
      <% end %></span>
    </div>
  </div>
  <hr />
  <div class="table table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th> Date </th>
          <th> Item </th>
          <th> Qty </th>
          <th><span class='pull-right'> Unit Cost </span></th>
          <th><span class='pull-right'> Discount </span></th>
          <th><span class="pull-right"> Total Cost </span></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @member.line_items.credit.each do |line_item| %>
        <tr>
          <td><%=line_item.created_at.strftime("%B %e, %Y") %></td>
          <td><%=line_item.stock.try(:name) %></td>
          <td><%=line_item.quantity %></td>
          <td> <span class='pull-right'><%=number_to_currency line_item.unit_cost %></span></td>
          <td> <span class='pull-right'><%=number_to_currency line_item.order.total_discount %></span></td>
          <td><span class='pull-right'><%= number_to_currency line_item.total_cost - line_item.order.total_discount %></span></td>
          <td>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
