<div class="tab-pane active" id="info">
  <div class="row">
    <div class="col-md-6">
      <b>Basic Info</b>
      <ul class="list-unstyled team-members">
        <li>
          <div class="row">
            <div class="col-md-6">
              Name
            </div>
            <div class="col-md-6">
              <%=@member.full_name %>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-6">
              Mobile
            </div>
            <div class="col-md-6">
              <%=@member.mobile %>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-6">
              Address
            </div>
            <div class="col-md-6">
              <%=@member.address %>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      Recent Activity
    </div>
  </div>
  <hr>

</div>
