<div class="tab-pane" id="purchases">
  <%=link_to scope_to_date_member_line_items_path(@member, :from_date => Time.zone.now.beginning_of_year, :to_date => Time.zone.now.end_of_year, format: 'pdf')  do %>
  <btn class="btn btn-info"><i class="fa fa-print"></i> View Report </btn>
  <% end %>
  <div class="table table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th> Date </th>
          <th> Item </th>
          <th> Amount </th>
          <th> Payment </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @member.line_items.each do |line_item| %>
        <tr>
          <td><%= number_to_currency line_item.unit_cost %></td>
          
          <td>
            <%if line_item.credit? %>
            <%=link_to 'Pay' %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
