
<div id="member-modal" class="modal fade"></div>
<div class="col-md-12">
  <div class="card">
    <div class="header">
      <h4 class="title"> Members
        <span class="pull-right">
          <%=link_to new_member_path, remote: true do %>
          <span class="btn btn-primary"><i class="fa fa-user-plus"></i> New Member </span>
          <% end %>
        </span>
      </h4>
      <p class="category"> List of members </p>
    </div>
    <div class="content">
      <div class="table table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Member</th>
              <th> Mobile Number</th>
              <th> Address </th>
            </tr>
          </thead>
          <tbody>
            <% Member.all.each do |member| %>
              <tr>
                <td><%= link_to member.full_name, member %></td>
                <td><%= member.mobile %></td>
                <td><%= member.address %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
